*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;   
    margin: 0;
}
.navigation{
    width: 100%;
    overflow: hidden;

        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
        height: 70px;
        color: #FFF;
        display: flex;
}
.navigation--logo{
    padding: 22px 32px;
}
.top{
    display:flex;
    flex-direction: column;
}
.top--image{
    margin-top: 30px;
    margin-left:400px;
    max-width: 400px;
    align-self: center;
    margin-bottom: 32px;
   
}
.top--text{
    padding-left: 50px;
    color: #000;
    margin-bottom:15px;
    font-size: 36px;
}
.top--para{
    margin-top: 0;
    padding-left: 50px;
    padding-right:auto ;
    color: #222;
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 1.3em;
    white-space: nowrap;

}
.cards-list{
display: flex;
flex-wrap: nowrap;
gap: 20px;
overflow-x: auto;

}
.card{
    margin-top: 49px;
    margin-left: 50px;
    width: 175px;
    font-size: 12px;
    flex: 0 0 auto; 
    display: flex;        
    flex-direction: column;
    position: relative;
}
.card--image{
    width: 176px;
    max-height: 235px;
    height: auto; 
    border-radius: 9px;
    margin-bottom: 9px;
}
.card--title {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 1px;
}
.card--stats{
    display: flex;
    align-items: center;
}
.card--star{
    width: 14px;
    padding-right: 3px;
}
.grey{
    color: #918E9B;
}
.bold{
    font-weight: bold;
}
.card--price {
    margin-top: 0px;
}
.sold{
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: #fff;
    padding: 5px 7px;
    font-weight: bold;
}